<template>
  <div class="products-layout">
    <Filters />
    <div
      :class="[items.length < 4 ? 'products-layout__block' : '']"
      class="products-layout__grid"
      v-if="items.length"
    >
      <Product
        :class="[items.length < 4 ? 'product-layout__block' : '']"
        v-for="item in items"
        :item="item"
        :isFavoriteVisible="isUserLogin"
        :key="item.id"
      />
    </div>
    <div class="no-data-message" v-else>
      No Data to Display
    </div>
  </div>
</template>

<script>
import Filters from "@/components/Filters.vue";
import Product from "@/components/Product.vue";

export default {
  name: "Home",
  components: {
    Filters,
    Product
  },
  data() {
    return {
      items: [],
      isUserLogin: false
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    getShowFavorites() {
      return this.$store.getters.getShowFavorites;
    },
    filterApply() {
      return this.$store.getters.filterApply;
    }
  },
  watch: {
    user(value) {
      this.isUserLogin = value;
    },
    getShowFavorites(value) {
      if (value) {
        this.items = this.$store.getters.getFavoriteItems;
      } else {
        this.items = this.$store.getters.getItems;
      }
    },
    filterApply(value) {
      if (value) {
        this.items = this.$store.getters.filterItems;
      } else {
        this.items = this.$store.getters.getItems;
      }
    }
  },
  mounted() {
    this.isUserLogin = this.$store.getters.user !== null;
    this.$store.dispatch("setLoading", true);
    this.$store.dispatch("getItems").then(() => {
      if (this.$store.getters.getShowFavorites) {
        this.items = this.$store.getters.getFavoriteItems;
      } else {
        this.items = this.$store.getters.getItems;
      }
      this.$store.dispatch("setLoading", false);
    });
    this.$root.$on("filterChanged", filterData => {
      if (filterData.from && filterData.to) {
        this.items = this.$store.getters.getItems.filter(
          item =>
            parseFloat(item.price) >= parseFloat(filterData.from) &&
            parseFloat(item.price) <= parseFloat(filterData.to)
        );
      } else {
        this.items = this.$store.getters.getItems;
      }
    });
    this.$root.$on("searchItems", filterData => {
      if (filterData.name || filterData.location) {
        this.items = this.$store.getters.getItems.filter(item => {
          let name = filterData.name;
          let location = filterData.location;
          if (!!name && !!location) {
            return (
              item.title.indexOf(name) > -1 &&
              item.location.indexOf(location) > -1
            );
          } else {
            return (
              (!!name && item.title.indexOf(name) > -1) ||
              (!!location && item.location.indexOf(location) > -1)
            );
          }
        });
      } else {
        this.items = this.$store.getters.getItems;
      }
    });
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/scss";
.products-layout {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 13px;
    padding-bottom: 21px;
  }
}
@media (min-width: #{$tablet-width}) {
  .products-layout {
    &__block {
      display: block;
    }
  }
}
.no-data-message {
  text-align: center;
}
</style>
