<template>
  <div class="row inbox-layout">
    <form @submit.prevent="submitHandler" novalidate>
      <div class="container">
        <div class="row">
          <div class="col s12 inbox-layout__title">Add product</div>
          <div class="inbox-layout__input">
            <label>
              Title
              <span class="inbox-layout__input-mandatory">*</span>
              <input
                type="text"
                v-model.trim="title"
                placeholder="For example: Iron man suit"
              />
            </label>
            <small
              class="error-text"
              v-if="$v.title.$dirty && !$v.title.required"
            >
              This field is required
            </small>
          </div>
          <div class="inbox-layout__input">
            <label>
              Location <span class="inbox-layout__input-mandatory">*</span>
              <input
                type="text"
                v-model.trim="location"
                placeholder="For example: Los Angeles, CA"
              />
            </label>
            <small
              class="error-text"
              v-if="$v.location.$dirty && !$v.location.required"
            >
              This field is required
            </small>
          </div>
          <div class="inbox-layout__input">
            <label>
              Description
              <textarea
                type="text"
                rows="8"
                placeholder="For example: Iron man suit"
              />
            </label>
          </div>
          <div class="inbox-layout__photo-layout">
            <span class="title">Photos</span>
            <span class="inbox-layout__input-mandatory"> *</span>
            <div class="inbox-layout__photo-layout__area">
              <div
                class="inbox-layout__photo-add-btn"
                @click="selectPictureFile"
              >
                <div class="plus"></div>
                <div class="plus revert"></div>
              </div>
              <div class="inbox-layout__photo-img">
                <img :src="imageUrl" height="" alt="" />
              </div>
              <input
                type="file"
                class="hide"
                ref="fileInput"
                accept="image/*"
                @change="onPictureFileSelected"
              />
            </div>
            <small class="error-text" v-if="imageError">
              This field is required
            </small>
          </div>
          <div class="inbox-layout__input">
            <label>
              Price
              <span class="inbox-layout__input-mandatory">*</span>
              <input
                type="text"
                v-model.trim="price"
                placeholder="For example: 555.34"
              />
            </label>
            <small
              class="error-text"
              v-if="$v.price.$dirty && !$v.price.decimal"
            >
              The field under validation must be numeric
            </small>
            <small
              class="error-text"
              v-else-if="$v.price.$dirty && !$v.price.required"
            >
              This field is required
            </small>
          </div>
          <div class="inbox-layout__submit-btn">
            <button>Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { decimal, required } from "vuelidate/lib/validators";
//const onlyDigits = (value) => helpers.regex(value, /^[0-9]+\.[0-9][0-9]$/);
export default {
  name: "Inbox",
  validations: {
    title: { required },
    location: { required },
    price: {
      required,
      decimal
    }
  },
  data() {
    return {
      title: "",
      location: "",
      description: "",
      price: "",
      imageUrl: "",
      image: null,
      imageError: false
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  watch: {
    user(value) {
      if (value === null) {
        this.$router.push("/login");
      }
    }
  },
  methods: {
    submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.imageError = !this.image;
        return;
      }
      if (!this.image) {
        return;
      }
      let item = {
        title: this.title,
        location: this.location,
        description: this.description,
        price: this.price,
        image: this.image,
        imageUrl: this.imageUrl,
        userId: this.user.id
      };
      this.$store.commit("setLoading", true);
      this.$store.dispatch("createItem", item).then(() => {
        this.$store.commit("setLoading", false);
        this.$router.push("/");
        this.$root.$emit("rerenderNavbar");
      });
    },
    selectPictureFile() {
      this.$refs.fileInput.click();
    },
    onPictureFileSelected(event) {
      let files = event.target.files;
      let fileReader = new FileReader();
      fileReader.addEventListener("load", () => {
        this.imageUrl = fileReader.result;
      });
      fileReader.readAsDataURL(files[0]);
      this.image = files[0];
    }
  },
  mounted() {
    this.$root.$emit("rerenderNavbar");
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss";
.inbox-layout {
  box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
  margin-top: 17px;
  &__input {
    margin-bottom: 24px;
    small {
      color: #ff0000;
    }
    label {
      text-transform: uppercase;
      color: #303030;
    }
  }
  &__input-mandatory {
    color: #ff0000;
  }
  &__photo-layout {
    margin-bottom: 24px;
    &__area {
      background: #f9fafb;
      border: 1px solid #dedee0;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
    }
    .title {
      text-transform: uppercase;
    }
    small {
      color: #ff0000;
    }
  }
  &__photo-img {
    height: 92px;
    width: 92px;
    margin: 16px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      border-radius: 4px;
    }
  }
  &__title {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0;
  }
  &__submit-btn {
    text-align: center;
    margin-bottom: 32px;
    button {
      height: 58px;
      width: 377px;
      border: transparent;
      color: #fff;
      border-radius: 5px;
      background-color: #349a89;
      cursor: pointer;
      font-size: 16px;
    }
    @media (max-width: #{$tablet-width}) {
      button {
        width: 100%;
      }
    }
  }

  &__photo-add-btn {
    margin: 16px;
    cursor: pointer;
    .plus {
      width: 38px;
      height: 4px;
      border-radius: 4px;
      background: #349a89;
      position: absolute;
    }
    .revert {
      transform: rotate(-90deg);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    background: #e4e4e4;
    border-radius: 4px;
    i {
      font-size: 12rem;
      color: #349a89;
    }
  }
}
input {
  padding-left: 23px;
}
</style>
