<template>
  <div>
    <form @submit.prevent="submitHandler" novalidate>
      <div class="container">
        <div class="row login-layout">
          <div class="col s12 m8 l8 login-layout__block">
            <div class="login-layout__block-title">Login</div>
            <div class="login-layout__block-input">
              <label>
                Email
                <input
                  type="email"
                  placeholder="Example@gmail.com"
                  v-model.trim="email"
                />
              </label>
              <small
                class="error-text"
                v-if="$v.email.$dirty && !$v.email.required"
              >
                This field is required
              </small>
              <small
                class="error-text"
                v-else-if="$v.email.$dirty && !$v.email.email"
                >Please enter a valid email address</small
              >
            </div>
            <div class="login-layout__block-input">
              <label>
                Password
                <input :type="passwordType" v-model.trim="password" />
              </label>
              <small
                class="error-text"
                v-if="$v.password.$dirty && !$v.password.required"
              >
                This field is required
              </small>
              <i
                class="material-icons-outlined"
                @mousedown="showPassword"
                @mouseup="hidePassword"
                @touchstart="showPassword"
                @touchend="hidePassword"
                >visibility</i
              >
              <div class="login-layout__block-input-remember">
                Don’t remember password?
              </div>
            </div>
            <button class="login-layout__btn">Continue</button>
          </div>
          <div class="col s12 m8 l8 login-layout__footer">
            I have no account,
            <router-link to="/register" class="login-layout__footer-link">
              REGISTER NOW
            </router-link>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { email, required } from "vuelidate/lib/validators";
export default {
  name: "Login",
  validations: {
    email: { email, required },
    password: { required }
  },
  data() {
    return {
      email: "",
      password: "",
      passwordType: "password"
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  watch: {
    user(value) {
      if (value !== null && value !== undefined) {
        this.$router.push("/");
      }
    }
  },
  methods: {
    submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      this.$store.dispatch("signUserIn", {
        email: this.email,
        password: this.password
      });
    },
    showPassword() {
      this.passwordType = "text";
    },
    hidePassword() {
      this.passwordType = "password";
    }
  }
};
</script>
<style lang="scss" scoped>
.row .col {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.login-layout {
  &__block {
    border-radius: 7px;
    box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
    padding: 21px 24px;
  }
  &__block-title {
    font-size: 22px;
    padding: 4px 0 32px 0;
    text-align: center;
  }
  &__block-input {
    width: 100%;
    padding-bottom: 15px;
    position: relative;
    small {
      color: #ff0000;
    }
    i {
      cursor: pointer;
      position: absolute;
      right: 19px;
      top: 44px;
    }
    label {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  &__block-input-remember {
    font-size: 14px;
    text-align: right;
    color: #8c8c8c;
  }
  &__btn {
    height: 58px;
    width: 100%;
    border: transparent;
    color: #fff;
    border-radius: 5px;
    background-color: #349a89;
    cursor: pointer;
    font-size: 16px;
  }
  &__footer {
    text-align: center;
    padding: 30px 24px;
    font-size: 14px;
    box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    margin: 21px 0;
  }
  &__footer-link {
    color: #349a89;
    text-decoration: none;
  }
}
</style>
