<template>
  <div class="filters-layout row">
    <div class="col s12 filters-layout__controls row">
      <div class="select-wrapper col s12 m12">
        <div class="select-arrow"></div>
        <div class="select-arrow"></div>
        <div><img src="@/assets/img/grid.png" alt="" /></div>
        <label>
          <select v-model="category">
            <option disabled selected>Choose Category</option>
            <option>Category 1</option>
            <option>Category 2</option>
          </select>
        </label>
      </div>
      <div class="input-wrapper col s12 m12">
        <div class="input-wrapper__block">
          <label>
            <input
              type="text"
              v-model="priceFrom"
              @input="applyFilter()"
              placeholder="Price from (USD)"
            />
          </label>
        </div>
        <div class="mdash-wrapper">&#8212;</div>
        <div class="input-wrapper__block">
          <label>
            <input
              type="text"
              v-model="priceTo"
              @input="applyFilter()"
              placeholder="Price to (USD)"
            />
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Filters",
  data() {
    return {
      category: "Choose Category",
      priceFrom: null,
      priceTo: null
    };
  },
  methods: {
    applyFilter() {
      this.$root.$emit("filterChanged", {
        from: this.priceFrom,
        to: this.priceTo
      });
    }
  },
  mounted() {
    this.$root.$on("clearFilters", () => {
      this.priceFrom = null;
      this.priceTo = null;
    });
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss";
.filters-layout {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.217111);
  border-radius: 4px;
  padding: 12px 11px;
  margin-bottom: 15px;
  &__controls {
    display: flex;
    margin: 0;
    .select-wrapper {
      position: relative;
      border: 1px solid #dedee0;
      background: #f9fafb;
      height: 35px;
      border-radius: 5px;
      margin-right: 23px;
      margin-left: 0;
      padding: 0;
      img {
        position: absolute;
        top: 9px;
        left: 11px;
      }
      select {
        height: 33px;
        width: 100%;
        padding: 2px 20px 0 39px;
        background: transparent;
        border: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      .select-arrow {
        position: absolute;
        z-index: -9999;
        border: 8px solid transparent;
        border-bottom: 0;
        right: 12px;
      }
      .select-arrow:nth-child(1) {
        top: 14px;
        border-top-color: #6c7231;
        z-index: 1;
      }
      .select-arrow:nth-child(2) {
        top: 12px;
        border-top-color: #fff;
        z-index: 1;
      }
    }
    .input-wrapper {
      display: flex;
      padding: 0;
      margin: 0;
      &__block {
        input {
          background: #f9fafb;
          height: 35px;
          border: 1px solid #dedee0;
          border-radius: 5px;
          padding: 8px 8px 8px 9px;
          color: #505050;
          font-size: 14px;
          box-sizing: border-box;
        }
        input::-webkit-input-placeholder {
          font-size: 14px;
        }
        @media screen and (max-width: #{$desktop-width}) {
          input {
            width: 100%;
            margin-bottom: 5px;
          }
          button {
            margin: 0;
          }
        }
      }
    }
    .mdash-wrapper {
      margin: 5px 7px 0 7px;
      min-width: 12px;
      max-width: 12px;
      overflow: hidden;
    }
    @media screen and (max-width: #{$desktop-width}) {
      .input-wrapper {
        display: block;
      }
      .select-wrapper {
        margin-bottom: 5px;
      }
      .mdash-wrapper {
        display: none;
      }
    }
  }
  @media screen and (max-width: #{$desktop-width}) {
    &__controls {
      display: block;
    }
  }
}
</style>
