<template>
  <div
    class="navbar-layout"
    :class="[user ? 'black-layout' : '']"
    v-if="rerenderComponent"
  >
    <div
      v-if="!user"
      class="navbar-layout__block"
      :class="[!user ? 'navbar-layout__block-white' : '']"
    >
      <div>
        <router-link to="/">
          <img class="navbar-logo" src="@/assets/img/logo.png" alt="" />
        </router-link>
      </div>
      <div>
        <ul class="navbar-menu hide-on-small-only">
          <li v-if="!user">
            <router-link to="/" class="navbar-layout__link">
              <div class="navbar-menu__btn">Sell</div>
            </router-link>
          </li>
          <li v-if="user">
            <router-link to="/inbox" class="navbar-layout__link">
              <div class="navbar-menu__btn">+ Add</div>
            </router-link>
          </li>
          <li v-if="!user">
            <router-link to="/login" class="navbar-layout__link">
              LogIn
            </router-link>
          </li>
          <li v-if="user" class="navbar-layout__link" @click="logOut">
            LogOut
          </li>
        </ul>
        <SideNav :user="user" />
      </div>
    </div>
    <div v-if="user && !navBarTheme" class="navbar-layout__block">
      <div class="header-control">
        <div>
          <router-link to="/">
            <img class="navbar-logo" src="@/assets/img/logo_white.png" alt="" />
          </router-link>
        </div>
        <div v-if="user">
          <ul
            class="navbar-menu hide-on-small-only"
            :class="[user ? 'header-control__isDark' : '']"
          >
            <li>
              <router-link to="/inbox" class="navbar-layout__link">
                <div class="navbar-menu__btn">+ Add</div>
              </router-link>
            </li>
            <li class="navbar-layout__link" @click="logOut">
              LogOut
            </li>
            <li @click="showFavorites()">
              <span class="material-icons">favorite_border</span>
            </li>
          </ul>
          <SideNav :user="user" @logout="logOut()" @showFavorites="showFavorites()" />
        </div>
      </div>
      <Search />
    </div>
    <div v-if="user && navBarTheme === 'inbox'" class="navbar-layout__block">
      <div class="header-control">
        <div @click="reRender()">
          <router-link to="/">
            <img class="navbar-logo" src="@/assets/img/logo_white.png" alt="" />
          </router-link>
        </div>
        <div v-if="user">
          <ul
            class="navbar-menu hide-on-small-only"
            :class="[user ? 'header-control__isDark' : '']"
          >
            <li class="navbar-menu__profile"> TS </li>
            <li @click="showFavorites()">
              <span class="material-icons">favorite_border</span>
            </li>
          </ul>
          <SideNav :user="user" @logout="logOut()" @showFavorites="showFavorites()" />
        </div>
      </div>
      <Search v-if="user && !navBarTheme" />
    </div>
  </div>
</template>

<script>
import Search from "@/components/Search";
import SideNav from "@/components/Sidenav";

export default {
  name: "Product",
  components: {
    SideNav,
    Search
  },
  data() {
    return {
      isDarkLayout: false,
      favoritesVisible: false,
      navBarTheme: "",
      rerenderComponent: true
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    reRender() {
      this.rerenderComponent = false;
      this.navBarTheme = this.$route.meta.navBarTheme || "";
      this.$nextTick(() => {
        this.rerenderComponent = true;
      });
    },
    showFavorites() {
      this.favoritesVisible = !this.favoritesVisible;
      if (this.$route.name === "Inbox") {
        this.favoritesVisible = true;
        this.$router.push("/");
        this.$root.$emit("rerenderNavbar");
      }
      this.$root.$emit("clearFilters");
      this.$store.commit("setShowFavorites", this.favoritesVisible);
    },
    logOut() {
      this.$store.dispatch("unsetUser");
    }
  },
  watch: {
    user(value) {
      if (value == null) {
        this.isDarkLayout = false;
      }
    }
  },
  mounted() {
    this.$root.$on("rerenderNavbar", () => {
      this.reRender();
    });
  }
};
</script>
<style lang="scss">
@import "../assets/scss";
.container {
  position: relative;
  top: 18px;
}
.navbar-layout {
  padding: 14px 0;
  &__block {
    display: flex;
    flex-direction: column;
    &__link {
      color: #2b2b2b;
      text-decoration: none;
    }
    .header-control {
      display: flex;
      justify-content: space-between;
      margin: 0 15%;
      &__isDark {
        color: #fff;
      }
    }
    @media screen and (max-width: #{$mobile-width}) {
      .header-control {
        margin: 0 5%;
      }
    }
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
      .header-control {
        margin: 0 8%;
      }
    }
  }
  &__block-white {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15%;
    .sidenav-trigger {
      color: #3e3961;
    }
  }
  @media screen and (max-width: #{$mobile-width}) {
    &__block-white {
      margin: 0 5%;
    }
  }
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    &__block-white {
      margin: 0 8%;
    }
  }
}
.black-layout {
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
  padding: 23px 0 0 0;
}
.navbar-logo {
  width: 102px;
}
.navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  li:not(:last-child) {
    margin-right: 33px;
  }
  li {
    cursor: pointer;
    list-style-type: none;
    a {
      color: #2b2b2b;
    }
    span {
      position: relative;
      top: 4px;
    }
  }
  &__profile {
    width: 40px;
    height: 38px;
    background-color: #F1C40F;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navbar-menu__btn {
  height: 31px;
  width: 131px;
  border-radius: 4px;
  background-color: #349a89;
  border-color: transparent;
  color: #fff;
}
</style>
