<template>
  <div class="product-layout">
    <div class="product-layout__image">
      <img :src="item.imageUrl" alt="" />
    </div>
    <div
      class="product-layout__favorite"
      v-if="isFavoriteVisible"
      @click="addFavorite"
    >
      <i class="material-icons" :class="[isFavorite ? 'item-favorite' : '']">
        {{ getIcon() }}
      </i>
    </div>
    <div class="product-layout__title">{{ item.title }}</div>
    <div class="product-layout__price">{{ item.price | priceFormat }}</div>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: ["item", "isFavoriteVisible"],
  data() {
    return {
      isFavorite: this.item.favorite,
    };
  },
  filters: {
    priceFormat(value) {
      if (!value) return "";
      return parseFloat(value).toFixed(2);
    }
  },
  methods: {
    getIcon() {
      return this.item.favorite ? "favorite" : "favorite_border";
    },
    addFavorite() {
      this.isFavorite = this.item.favorite = !this.item.favorite;
      this.$store.dispatch("updateFavorite", this.item);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss";
.product-layout {
  position: relative;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0 4px 14px rgba(121, 121, 121, 0.0527344);
  border-radius: 4px;
  padding: 0;
  &__favorite {
    position: absolute;
    cursor: pointer;
    top: 132px;
    right: 7px;
    background-color: white;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.163407);
    border-radius: 50%;
    i {
      position: relative;
      top: 4px;
      left: 3px;
      color: #b7b7b7;
    }
    .item-favorite {
      color: #349a89;
    }
  }
  &__image {
    height: 148px;
    padding: 3px 2.5px 0;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }
  }
  &__title {
    padding: 0 12px;
    margin: 6px 0 7px 0;
    font-size: 15px;
    line-height: 17px;
    color: #373738;
  }
  &__price {
    padding-left: 12px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #101010;
  }
}

@media (min-width: #{$tablet-width}) {
  .product-layout__block {
    width: 209px;
    float: left;
  }
  .product-layout__block:not(:first-child) {
    margin-left: 6px;
  }
}
</style>
