<template>
  <div class="search-layout row container">
    <div class="col s12 search-layout__block">
      <div class="input-wrapper col s12 m6 l6">
        <div class="input-wrapper__block">
          <i class="material-icons">search</i>
          <label>
            <input
              type="text"
              v-model="name"
              placeholder="Search products by name"
            />
          </label>
        </div>
      </div>
      <div class="input-wrapper input-wrapper__location col s12 m3 l3">
        <div class="input-wrapper__block">
          <i class="material-icons">location_on</i>
          <label>
            <input type="text" v-model="location" placeholder="Location" />
          </label>
        </div>
      </div>
      <div class="search-layout__block__btn col s12 m3 l3">
        <button @click="searchItems()">Search</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      name: "",
      location: ""
    };
  },
  methods: {
    searchItems() {
      this.$root.$emit("clearFilters");
      this.$root.$emit("searchItems", {
        name: this.name,
        location: this.location
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss";
.search-layout {
  padding: 10px 0 14px 0;
  &__block {
    padding: 0 !important;
    &__btn {
      padding: 0 !important;
      button {
        height: 50px;
        width: 100%;
        background-color: #3e3961;
        border-radius: 4px;
        border: transparent;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
  .input-wrapper {
    padding: 0 7px 0 0;
    &__block {
      position: relative;
      i {
        position: absolute;
        top: 15px;
        left: 21px;
        font-size: 21px;
        color: #5c5c5c;
      }
      input {
        padding: 0 21px 0 52px;
        height: 50px;
      }
    }
    &__location {
      i {
        left: 10px;
      }
      input {
        padding-left: 38px;
      }
    }
  }
  @media screen and (max-width: #{$mobile-width}) {
    .input-wrapper {
      padding: 0;
      &__block {
        padding-bottom: 5px;
      }
    }
  }
}
</style>
