<template>
  <div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-med-and-up">
      <i class="material-icons">menu</i>
    </a>
    <ul class="sidenav" ref="sidenav" id="mobile-demo">
      <li
        v-if="user"
        @click="closeNavBar()">
        <router-link to="/inbox" class="navbar-layout__link">
          Add
        </router-link>
      </li>
      <li v-if="user" class="menu-item" @click="favorites()">Favorites</li>
      <li v-if="user" class="menu-item" @click="logout()">
        LogOut
      </li>
      <li v-if="!user" @click="closeNavBar()">
        <router-link to="/" class="navbar-layout__link">
          Sell
        </router-link>
      </li>
      <li v-if="!user" @click="closeNavBar()" >
        <router-link to="/login" class="navbar-layout__link">
          LogIn
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import M from "materialize-css";

export default {
  name: "SideNav",
  props: ["user"],
  data() {
    return {
      navBarInstances: null
    };
  },
  methods: {
    logout() {
      this.closeNavBar();
      this.$emit("logout");
    },
    favorites(){
      this.closeNavBar();
      this.$emit("showFavorites");
    },
    closeNavBar() {
      this.navBarInstances.close();
    }
  },
  mounted() {
    this.navBarInstances = M.Sidenav.init(this.$refs.sidenav, {edge: "right"});
  },
  destroyed() {
    if (this.navBarInstances.destroyed) {
      this.navBarInstances.destroyed();
    }
  }
};
</script>

<style lang="scss" scoped>
.menu-item {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
a {
  color: #ffffff;
}
</style>
