<template>
  <div id="app">
    <Navbar />
    <div class="container">
      <div class="loader-layout">
        <div class="loader-layout__active" v-show="isLoading"></div>
      </div>
      <router-view v-show="!isLoading" />
    </div>
  </div>
</template>
<script>
import Navbar from "@/components/Navbar.vue";
export default {
  name: "Home",
  components: {
    Navbar
  },
  data() {
    return {
      isLoading: false
    };
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    }
  },
  watch: {
    loading(value) {
      this.isLoading = value;
    }
  }
};
</script>
<style lang="scss">
@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/toast";
@import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/sidenav";

body,
button,
select,
input::-webkit-input-placeholder {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}
select:focus {
  outline: none !important;
  border-color: #dedee0;
}
input {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 4px 60px 4px 13px;
  width: 100%;
  box-sizing: border-box;
  background: #f9fafb;
}
input,
input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  line-height: 3;
  color: rgba(102, 102, 102, 0.466455);
}
input:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
textarea {
  resize: none;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #9e9e9e;
  background: #f9fafb;
  border-radius: 5px;
  padding: 19px 22px;
  width: 100%;
  box-sizing: border-box;
  color: rgba(102, 102, 102, 0.466455);
}
textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: rgba(102, 102, 102, 0.466455);
}
textarea:focus {
  outline: none !important;
}
.loader-layout {
  display: flex;
  justify-content: center;
  &__active {
    border: 10px solid #f3f3f3;
    border-radius: 46%;
    border-top: 10px solid #3e3961;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}
</style>
